*{
    margin: 0;

}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}
.header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px;
    width: 100%;
}
.one{
    font-family: Arial, sans-serif;
    font-size: 72px;
    object-fit: contain;
    height: 100px;
    margin-top: 75px;
}
ul{
    display: flex;
    justify-content: space-between;
}
ul li{

    list-style: none;
}
.header ul li a{
    margin-right: 20px;
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px;
    text-decoration: inherit;
    
}
.header a:hover{
    text-decoration: underline;

}
.material-icons{
    padding-right: 20px;
    transition: .4s;
    color: #5f6368;
    opacity: 1;
   
}
.material-icons:hover{  
    fill: currentColor; 
    transform: scale(1.3);
    cursor: pointer;
    overflow-clip-margin: content-box;
    overflow: hidden;
    border-radius: 2px;
}
.kis{
    color: #4d5156;
    font-size: 15px;
    align-items: center;
    margin-top: 40px;
}
.link{
    color: blue;
    text-decoration: none;
}

.main{
    flex: 1;
    margin: top 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search{
    display: flex;
    border: 1px solid rgba(221, 227, 226, 0.799);
    border-radius: 999px;
    width: 75vw;
    height: 30px;
    padding: 10px 20px;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 560px;
    justify-content: space-between;
}
.search input{
    flex: 1;
    padding: 10px 20px;
    border: none;
    outline: none;
}
.buttons{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.buttons button{
    margin: 5px;
    padding: 10px 15px;
    background-color: #f8f8f8;
    cursor: pointer;
    outline: none;
    border: none;
}
.buttons button:hover{
    border: 1px solid #ccc;

}
.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%
}
.footer .two{
    padding: 6px 8px;
    border-top: 1px solid #ccc;
}
.footer .three{
    display: flex;
    justify-content: space-between;
}
.footer .three ul{
    display: flex;
}
.footer .three ul li{
    list-style: none;
}
.footer .three ul li a{
    text-decoration: none;
    color : #70757a;
    margin-right: 20px;
    font-size: 16px;
    margin-top: 10px;
}
.footer .three ul li a:hover{
    text-decoration: underline;

}
.footer .four{
    color: #70757a;
    font-size: 16px;
}
.country{
    padding-left: 30px;
    color: #70757a;
}
.footer .five{
    margin: 5px;

}
